global:
  scrape_interval: 60s
  evaluation_interval: 60s

scrape_configs:
  - job_name: snmp-switch
    scrape_interval: 60s
    scrape_timeout: 30s
    metrics_path: /snmp
    params:
      target: ["192.168.1.2"]
      module: [if_mib]
    static_configs:
      - targets: ["fl-snmp-exporter:9116"]
        labels:
          device: "switch.mcducklabs.com"
          device_type: "switch"
          target_ip: "192.168.1.2"

  - job_name: snmp-pfsense
    scrape_interval: 60s
    scrape_timeout: 30s
    metrics_path: /snmp
    params:
      target: ["192.168.1.1"]
      module: [if_mib]
    static_configs:
      - targets: ["fl-snmp-exporter:9116"]
        labels:
          device: "pfsense.mcducklabs.com"
          device_type: "firewall"
          target_ip: "192.168.1.1"

  - job_name: snmp-qnap
    scrape_interval: 60s
    scrape_timeout: 30s
    metrics_path: /snmp
    params:
      target: ["192.168.2.9"]
      module: [if_mib]
    static_configs:
      - targets: ["fl-snmp-exporter:9116"]
        labels:
          device: "nas.mcducklabs.com"
          device_type: "nas"
          target_ip: "192.168.2.9"

  - job_name: snmp-proxmox
    scrape_interval: 60s
    scrape_timeout: 30s
    metrics_path: /snmp
    params:
      target: ["192.168.1.89"]
      module: [if_mib]
    static_configs:
      - targets: ["fl-snmp-exporter:9116"]
        labels:
          device: "pve.mcducklabs.com"
          device_type: "hypervisor"
          target_ip: "192.168.1.89"

# Send metrics to SigNoz OTel Collector via Prometheus remote write
remote_write:
  - url: http://signoz-otel-collector:4318/v1/metrics
    queue_config:
      max_shards: 10
      max_samples_per_send: 500
