receivers:
  prometheus:
    config:
      scrape_configs:
        - job_name: snmp-switch
          scrape_interval: 60s
          scrape_timeout: 30s
          metrics_path: /snmp
          params:
            target: ["192.168.1.2"]
            module: [if_mib]
          static_configs:
            - targets: ["fl-snmp-exporter:9116"]
              labels:
                device: "switch.mcducklabs.com"
                device_type: "switch"

        - job_name: snmp-pfsense
          scrape_interval: 60s
          scrape_timeout: 30s
          metrics_path: /snmp
          params:
            target: ["192.168.1.1"]
            module: [if_mib]
          static_configs:
            - targets: ["fl-snmp-exporter:9116"]
              labels:
                device: "pfsense.mcducklabs.com"
                device_type: "firewall"

        - job_name: snmp-qnap
          scrape_interval: 60s
          scrape_timeout: 30s
          metrics_path: /snmp
          params:
            target: ["192.168.2.9"]
            module: [if_mib]
          static_configs:
            - targets: ["fl-snmp-exporter:9116"]
              labels:
                device: "nas.mcducklabs.com"
                device_type: "nas"

        - job_name: snmp-proxmox
          scrape_interval: 60s
          scrape_timeout: 30s
          metrics_path: /snmp
          params:
            target: ["192.168.1.89"]
            module: [if_mib]
          static_configs:
            - targets: ["fl-snmp-exporter:9116"]
              labels:
                device: "pve.mcducklabs.com"
                device_type: "hypervisor"

exporters:
  otlp:
    endpoint: signoz-otel-collector:4317
    tls:
      insecure: true

processors:
  batch:
    timeout: 10s

service:
  telemetry:
    logs:
      level: debug
  pipelines:
    metrics:
      receivers: [prometheus]
      processors: [batch]
      exporters: [otlp]
